<div class="container">
  <h1>Ingredients</h1>
<div class="pagination-container">
    <%= paginate @ingredients %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Recipes</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td><%= ingredient.name %></td>

          <td><%= ingredient.recipes.count %></td>

          <td>
            <%= link_to "Show Recipes", ingredient_path(ingredient), class: "btn btn-green" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pagination-container">
    <%= paginate @ingredients %>
  </div>
</div>