<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Intro App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rails Intro App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
      }

      nav {
        background: #333;
        color: white;
        padding: 10px;
      }

      nav a {
        color: blue;
        margin-right: 10px;
        text-decoration: none;
      }

      nav a:hover {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>
  <!-- Navigation Bar -->
    <nav style="padding: 10px; background: #eee;">
      <%= link_to "Menu", "/menu" %> 
      <%= link_to "About", "/about" %>
    </nav>

    <%= yield %>
  </body>
</html>
