<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Intro App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rails Intro App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        margin: 0;
        font-family: "Segoe UI", Arial, sans-serif;
      }

      .navbar {
        display: flex;
        align-items: center;
        background-color: black;
        padding: 10px 20px;
      }

      .brand {
        color: white;
        font-size: 22px;
        margin-right: 30px;
        text-decoration: none;
      }

      .brand:hover {
        text-decoration: none;
        color: #ddd;
      }

      .nav-links a {
        color: white;
        margin-right: 15px;
        text-decoration: none;
        font-size: 16px;
      }

      .nav-links a:hover {
        color: grey;
      }

      .nav-links a {
        color: #a8a8a8;
        margin-right: 15px;
        text-decoration: none;
        font-size: 16px;
      }

      .nav-links a:hover {
        color: #d8d8d8;
      }

      /* 🔥 Active link */
      .nav-links a.active {
        color: white;
        font-weight: 500;
      }
    </style>
  </head>

  <body>
  <!-- Navigation Bar -->
    <nav class="navbar">
      <%= link_to "World Wide Recipes", "/menu", class: "brand" %>

      <div class="nav-links">
        <%= link_to "Menu", menu_path, class: (current_page?(menu_path) || controller_name == "recipes" ? "active" : "") %>
        <%= link_to "About", about_path, class: (current_page?(about_path) ? "active" : "") %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
